name: Release

on:
  push:
    tags:
      - '*'

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest

    permissions:
      contents: write

    env:
      BUILD_TARGETS: aarch64-unknown-linux-gnu aarch64-unknown-linux-musl x86_64-unknown-linux-gnu x86_64-unknown-linux-musl

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Upgrade Rust
        run: |
          # Sometimes, the GitHub Actions environment has an outdated version of Rust.
          # For example, the new Rust 2024 edition is not available in action yet
          # (2025-02-21 UTC+8).
          rustup update stable

      - name: Install cross-rs
        run: cargo install cross --git https://github.com/cross-rs/cross

      - name: Build
        run: |
          targets=($BUILD_TARGETS)
          for target in "${targets[@]}"; do
            cross build --target $target --profile release-small
          done

      - name: Run tests
        run: |
          targets=($BUILD_TARGETS)
          for target in "${targets[@]}"; do
            cross test --target $target
          done

      - name: Create tarball ${{ matrix.target }}
        run: |
          targets=($BUILD_TARGETS)
          for target in "${targets[@]}"; do
            mv target/$target/release-small/nlf nlf-$target
            tar -zcf nlf-$target.tar.gz nlf-$target
            sha256sum nlf-$target.tar.gz > nlf-$target.tar.gz.sha256
          done

      - uses: softprops/action-gh-release@c95fe1489396fe8a9eb87c0abf8aa5b2ef267fda # v2.2.1
        with:
          files: |
            nlf-*.tar.gz
            nlf-*.tar.gz.sha256
