name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6

    - name: Upgrade Rust
      run: |
        # Sometimes, the GitHub Actions environment has an outdated version of Rust.
        # For example, the new Rust 2024 edition is not available in action yet
        # (2025-02-21 UTC+8).
        rustup update stable

    - name: Build
      run: cargo build --verbose

    - name: Run tests
      run: cargo test --verbose
